@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    font-family: 'Nanum Gothic', sans-serif;
    scroll-behavior: smooth;
}


header{
    height: 100vh;
    margin-top: 60px;
    /* position:static; */
    /* background-color: green; */
}

.navbar-brand img{
    width: 160px;
    height: 60px;
    padding: 0;
}

.nav-link{
    font-size: 16px;
    font-weight: bold;
    /* padding: 10px; */
}

/* .nav-link a{
    padding: 25px;
} */

.nav-link:hover{
    border-bottom: 2px #F9CA24 solid;
}

.nav-login{
    border-radius: 15px;
    /* padding: 10px; */

}

.navbar{
    background: #fff;
}
.login-page{
    background: #F9CA24;
    /* background: linear-gradient(31deg, rgba(241,196,15,1) 0%, rgba(211,84,0,1) 38%, rgba(243,156,18,1) 100%); */
    height: 100vh;
    overflow-y: hidden;
    background-repeat: no-repeat;
}

.login-logo{
    width: 40px;
    height: 40px;
}

.img-login{
    width: 400px;
    height: 400px;
}

.login-container{
    border-radius: 20px;
}

.input-group-text{
    background: #fff;
    color: grey;
    border:none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.input-group{
    border: 1px rgba(128, 128, 128, 0.274) solid;
    border-radius: 15px;
    box-shadow: grey 12px 12px 5px;
}

.username{
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.password{
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-login{
    background: #F9CA24;
    color: white;
    border-radius: 15px;
    box-shadow: grey 12px 12px 5px;
}

.text-welcome{
    font-size: 55px;
    font-weight: bold;
    color: #F9CA24;
}

.candidate{
    background-color: #F9CA24;
    margin-top: -10px;
}

.text-title{
    color: #F9CA24;
}

.img-candidate{
    border: 5px #fff solid;
    /* width: 180px;
    height: 180px; */
}

.img-logo-login{
    width: 50px;
    height: 50px;
}

.arrow-vote{
    border: 2px #fff solid;
    /* border-radius: 50%; */
}

.countdown{
    z-index: 9999;
}


/******************* Timeline Demo - 6 *****************/
.guide{margin-top: 700px; background: none;}
.main-timeline6{overflow:hidden;position:relative}
.main-timeline6 .timeline{width:50%;float:right;position:relative;z-index:1}
.main-timeline6 .timeline:after,.main-timeline6 .timeline:before{position:absolute;top:50%;content:"";display:block;clear:both}
.main-timeline6 .timeline:before{width:40%;height:6px;background:#F9CA24;left:0;z-index:-1;transform:translateY(-50%)}
.main-timeline6 .timeline:after{width:6px;height:70%;background:#F9CA24;left:-3px}
.main-timeline6 .timeline-content{width:65%;float:right;padding:0 0 30px 30px;margin-right:15px;background:#fff;border-radius:10px;box-shadow:3px 3px 5px 6px #ccc}
.main-timeline6 .timeline-content:after,.main-timeline6 .timeline-content:before{content:"";width:26px;height:26px;border-radius:50%;background:#F9CA24;position:absolute;top:50%;left:-13px;z-index:1;transform:translateY(-50%)}
.main-timeline6 .timeline-content:after{left:30%;transform:translate(-50%,-50%)}
.main-timeline6 .year{display:block;font-size:28px;font-weight:700;color:#F9CA24;text-align:center;padding-left:50px}
.main-timeline6 .content-inner{padding:35px 15px 35px 110px;margin-right:-15px;background:#F9CA24;border-radius:150px 0 0 150px;position:relative}
.main-timeline6 .content-inner:after,.main-timeline6 .content-inner:before{content:"";border-left:15px solid #000;border-top:10px solid transparent;position:absolute;top:-10px;right:0}
.main-timeline6 .content-inner:after{border-top:none;border-bottom:10px solid transparent;top:auto;bottom:-10px}
.main-timeline6 .icon{width:110px;height:100%;text-align:center;position:absolute;top:0;left:0}
.main-timeline6 .icon i{font-size:60px;font-weight:700;color:#fff;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.main-timeline6 .title{font-size:22px;font-weight:700;color:#fff;margin:0 0 5px}
.main-timeline6 .description{font-size:14px;color:#fff;margin:0}
.main-timeline6 .timeline:nth-child(2n) .icon,.main-timeline6 .timeline:nth-child(2n):after,.main-timeline6 .timeline:nth-child(2n):before{left:auto;right:0}
.main-timeline6 .timeline:nth-child(2n):after{right:-3px}
.main-timeline6 .timeline:nth-child(2n) .timeline-content{float:left;padding:0 30px 30px 0;margin:0 0 0 15px}
.main-timeline6 .timeline:nth-child(2n) .timeline-content:after,.main-timeline6 .timeline:nth-child(2n) .timeline-content:before{left:auto;right:-13px}
.main-timeline6 .timeline:nth-child(2n) .timeline-content:after{right:30%;margin-right:-25px}
.main-timeline6 .timeline:nth-child(2n) .year{padding:0 50px 0 0;color:#F9CA24}
.main-timeline6 .timeline:nth-child(2n) .content-inner{padding:35px 110px 35px 15px;margin:0 0 0 -15px;border-radius:0 150px 150px 0}
.main-timeline6 .timeline:nth-child(2n) .content-inner:after,.main-timeline6 .timeline:nth-child(2n) .content-inner:before{border:none;border-right:15px solid #000;border-top:10px solid transparent;right:auto;left:0}
.main-timeline6 .timeline:nth-child(2n) .content-inner:after{border-top:none;border-bottom:10px solid transparent}
.main-timeline6 .timeline:nth-child(2){margin-top:200px}
.main-timeline6 .timeline:nth-child(odd){margin:-190px 0 0}
.main-timeline6 .timeline:nth-child(even){margin-bottom:70px}
.main-timeline6 .timeline:first-child,.main-timeline6 .timeline:last-child:nth-child(even){margin:0}
.main-timeline6 .timeline:nth-child(2n) .content-inner,.main-timeline6 .timeline:nth-child(2n) .timeline-content:after,.main-timeline6 .timeline:nth-child(2n) .timeline-content:before,.main-timeline6 .timeline:nth-child(2n):after,.main-timeline6 .timeline:nth-child(2n):before{background:#F9CA24}
.main-timeline6 .timeline:nth-child(3n) .content-inner,.main-timeline6 .timeline:nth-child(3n) .timeline-content:after,.main-timeline6 .timeline:nth-child(3n) .timeline-content:before,.main-timeline6 .timeline:nth-child(3n):after,.main-timeline6 .timeline:nth-child(3n):before{background:#F9CA24}
.main-timeline6 .timeline:nth-child(3n) .content-inner:after,.main-timeline6 .timeline:nth-child(3n) .content-inner:before{border-left-color:#000}
.main-timeline6 .timeline:nth-child(3n) .year{color:#F9CA24}
.main-timeline6 .timeline:nth-child(4n) .content-inner,.main-timeline6 .timeline:nth-child(4n) .timeline-content:after,.main-timeline6 .timeline:nth-child(4n) .timeline-content:before,.main-timeline6 .timeline:nth-child(4n):after,.main-timeline6 .timeline:nth-child(4n):before{background:#F9CA24}
.main-timeline6 .timeline:nth-child(4n) .content-inner:after,.main-timeline6 .timeline:nth-child(4n) .content-inner:before{border-right-color:#F9CA24}
.main-timeline6 .timeline:nth-child(4n) .year{color:#F9CA24}
@media only screen and (max-width:990px) and (min-width:768px){.main-timeline6 .timeline:after{height:80%}
}
@media only screen and (max-width:767px){.main-timeline6 .timeline:last-child,.main-timeline6 .timeline:nth-child(even),.main-timeline6 .timeline:nth-child(odd){margin:0}
.main-timeline6 .timeline{width:95%;margin:15px 15px 15px 0!important}
.main-timeline6 .timeline .timeline-content:after,.main-timeline6 .timeline .timeline-content:before,.main-timeline6 .timeline:after,.main-timeline6 .timeline:before{display:none}
.main-timeline6 .timeline-content,.main-timeline6 .timeline:nth-child(2n) .timeline-content{width:100%;float:none;padding:0 0 30px 30px;margin:0}
.main-timeline6 .content-inner,.main-timeline6 .timeline:nth-child(2n) .content-inner{padding:35px 15px 35px 110px;margin:0 -15px 0 0;border-radius:150px 0 0 150px}
.main-timeline6 .timeline:nth-child(2n) .content-inner:after,.main-timeline6 .timeline:nth-child(2n) .content-inner:before{border:none;border-left:15px solid #000;border-top:10px solid transparent;right:0;left:auto}
.main-timeline6 .timeline:nth-child(2n) .content-inner:after{border-top:none;border-bottom:10px solid transparent}
.main-timeline6 .timeline:nth-child(2n) .icon{top:0;left:0}
.main-timeline6 .timeline:nth-child(4n) .content-inner:after,.main-timeline6 .timeline:nth-child(4n) .content-inner:before{border-left-color:#F9CA24}
}
