@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    font-family: 'Nanum Gothic', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: rgb(250, 250, 250);
}

header{
    height: 100vh;
    margin-top: 60px;
    /* position:static; */
    /* background-color: green; */
}

.navbar-brand img{
    width: 160px;
    height: 60px;
    padding: 0;
}

.nav-link{
    font-size: 16px;
    font-weight: bold;
    /* padding: 10px; */
}

/* .nav-link a{
    padding: 25px;
} */

.nav-link:hover{
    border-bottom: 2px #F9CA24 solid;
}

.nav-login{
    border-radius: 15px;
    /* padding: 10px; */

}

.navbar{
    background: rgb(250, 250, 250);
}
.login-page{
    background: #F9CA24;
    /* background: linear-gradient(31deg, rgba(241,196,15,1) 0%, rgba(211,84,0,1) 38%, rgba(243,156,18,1) 100%); */
    height: 100vh;
    overflow-y: hidden;
    background-repeat: no-repeat;
}

.login-logo{
    width: 40px;
    height: 40px;
}

.img-login{
    width: 400px;
    height: 400px;
}

.login-container{
    border-radius: 20px;
}

.input-group-text{
    background: #fff;
    color: grey;
    border:none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.input-group{
    border: 1px rgba(128, 128, 128, 0.274) solid;
    border-radius: 15px;
    box-shadow: grey 12px 12px 5px;
}

.username{
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.password{
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-login{
    background: #F9CA24;
    color: white;
    border-radius: 15px;
    box-shadow: grey 12px 12px 5px;
}

.text-welcome{
    font-size: 55px;
    font-weight: bold;
    color: #F9CA24;
}

.candidate{
    background-color: #F9CA24;
    margin-top: -10px;
}

.text-title{
    color: #F9CA24;
}

.img-candidate{
    border: 5px #fff solid;
    /* width: 180px;
    height: 180px; */
}

.img-logo-login{
    width: 50px;
    height: 50px;
}

.arrow-vote{
    border: 2px #fff solid;
    /* border-radius: 50%; */
}

.countdown{
    z-index: 9999;
}

.guide{
    margin-top: 720px;
}

.step-guide{
    border-radius: 25px;
    box-shadow: #F9CA24 15px 15px 15px;
}

.chart{
    border-radius: 15px;
    /* border: 1px #000 solid; */
    box-shadow: #F9CA24 15px 15px 15px;
}

